name: Model Training CI

on:
  push:
    branches: [ "main" ] # Trigger on pushes to the main branch

jobs:
  train_model:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python 3.12.7
        uses: actions/setup-python@v4
        with:
          python-version: '3.12.7'

      - name: Install dependencies
        run: |
          pip install pandas scikit-learn mlflow dagshub matplotlib seaborn

      - name: Run Model Training and Logging to DagsHub
        env:
          DAGSHUB_USER_TOKEN: ${{ secrets.DAGSHUB_TOKEN }} 
        run: |
          cd MLProject
          python modelling.py
