name: Model Training CI

on:
  push:
    branches: [ "main" ]

jobs:
  train_model:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python 3.12.7
        uses: actions/setup-python@v4
        with:
          python-version: '3.12.7'

      - name: Install dependencies
        run: |
          pip install pandas scikit-learn mlflow matplotlib seaborn

      - name: Run Model Training
        run: |
          cd MLProject
          python modelling.py

      - name: Upload to GitHub Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: trained-model
          path: MLProject/mlruns/

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/heart-disease-model:latest ./MLProject
          docker push ${{ secrets.DOCKER_USERNAME }}/heart-disease-model:latest
